html, body {
    margin:0;
    padding:0;
}

body {
    background-color: #50e3c2;
}

.first {
    background-color: #4a90e2;
}

.second {
    background-color: #b8e986;
    float: right;
    position: relative;
}

.first , .second {
    width: 342px;
    height: 1024px;
    display: inline-block;
}

.photoBox {
    background-color: #d0021b;
    height: 206px;
    width: 342px;
    position: absolute;
    bottom: 0;
}

p {
    color: white;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
    padding-top: 20%;
}
